<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>BoolFlix</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="navbar">

                <h2>boolflix</h2>
                <ul>
                    <li @click="homeClick()">Home</li>
                    <li @click="seriesTvClick()">Serie Tv</li>
                    <li @click="moviesClick()">Film</li>
                    <li>Originali</li>
                    <li>Aggiunti di recente</li>
                    <li>La mia lista</li>
                </ul>
                <div class="white_space"></div>

                <i class="fa fa-search" aria-hidden="true" @click="clickShowSearchBar" v-if="!showSearchBar"></i>

                <div class="container_search" :class="{'appear': (showSearchButton)}">

                    <select v-model="typeToSearch">
                        <option value="" selected>ALL</option>
                        <option :value="type" v-for="type in typesList">{{type.toUpperCase()}}</option>
                    </select>

                    <div class="box">
                        <input @blur="clickShowSearchBar" type="text" v-model="textToSearch" @keyup.enter="searchOnClick()">
                        <i class="fa fa-search" aria-hidden="true" @click="searchOnClick()"></i>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <aside>
                <div class="content">
                    <p style="padding: 5px 0;">Filta per :</p>

                    <div class="dropdown">
                        <div @click="showDDF()" class="dropdown_button">
                            Film  <i v-if="!showDropDownFilm" class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>

                        <ul v-if="showDropDownFilm">
                        <li v-for="genre in genresMovies" @click="getFilterMovies(genre)">{{genre.name}}</li>
                        </ul>
                    
                    </div>

                    <div class="dropdown">
                        <div @click="showDDST()" class="dropdown_button">
                            Serie Tv<i v-if="!showDropDownSeriesTv" class="fa fa-caret-down" aria-hidden="true"></i>
                            </i>
                        </div>

                        <ul v-if="showDropDownSeriesTv">
                            <li v-for="genre in genresSeriesTv" @click="getFilterSeriesTv(genre)">{{genre.name}}</li>
                        </ul>

                    </div>

                </div>

            </aside>
            <div class="container">

                <div class="card" v-for="film in globalList" @mouseover="getCast(film); getGenre(film)">

                    <img v-if="film.img" :src="getImg(film)" :alt="film.title">

                    <div v-else class="not_img">
                        <div>
                            <span class="first_letter">{{film.title[0].toUpperCase()}}</span>
                        </div>
                    </div>

                    <div class="layover">

                        <div class="description">
                            <p>
                                <span class="color">Titolo:</span> <span>{{film.title}}</span>
                            </p>
                            <p>
                                <span class="color">Titolo Originale:</span> <span>{{film.original_title}}</span>
                            </p>
                            <p>
                                <i class='fa fa-star' aria-hidden='true' v-for="(star, index) in stars" :class="{'color_yellow': voteAverageStars(film, index)}"></i>
                            </p>
                            <p>
                                <span class="color">Lingua:</span> <span class="flag-icon" :class="getCountrysFlag(film)"></span>
                            </p>
                            <p v-if="film.overview" class="overview">
                                <span class="color">Descrizione:</span> <span>{{film.overview}}</span>
                            </p>
                            <p>
                                <span v-if="film.cast" class="color">Attori: </span>

                                <span v-for="actor in film.cast">{{actor}}, </span>
                            </p>
                            <p>
                                <span class="color">Genere: </span>
                                <span v-for="name_genre in film.genreName"> {{name_genre}},</span>
                            </p>
                        </div>
                    </div>
                </div>
                <p v-if="showNotFound">Nessun Risultato</p>
            </div>

        </main>

    
    </div>

    <script src="app.js"></script>
</body>
</html>