* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.color {
    color: rgb(218, 211, 211);
    font-weight: 700;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    height: 100%;
}

header {
    flex-shrink: 0;
    height: 80px;
    background-color: rgb(32, 30, 30);
}

header .container {
    align-items: center;
}

header h2 {
    color: red;
    text-transform: uppercase;
}

header h2,
header .container_search{
    flex-grow: 0;
    flex-shrink: 0;
}

header .white_space {
    flex-grow: 1;
}

.fa-search{
    color: white;
}

header .container_search {
    position: relative;
}

.container_search .fa-search {
    position: absolute;
    left: 5px;
    top: 3px;
    color: rgb(255, 255, 255);
}

.container_search input {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    outline: none;
    padding: 3px 3px 3px 25px;
}

.container_search select {
    background-color: transparent;
    color: white;
    outline: none;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid white;


}

main {
    flex-grow: 1;
    color: white;
    background-color: rgb(68, 64, 64);
}

main .container {
    overflow: auto;
    flex-wrap: wrap;
}

/* card */
main .card {
    width: calc(100% / 4 - 10px);
    height: 350px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
/* card description */
.description {
    position: absolute;
    bottom: -350px;
    padding: 5px;
    height: 100%;
    width: 100%;
    transition: bottom .5s;
}

.description > *{
    margin-bottom: 10px;
}

.description .overview {
    height: 141px;
    overflow: auto;
    line-height: 20px;
}

.description .fa-star {
    margin-right: 5px;
}

.fa-star.color_yellow{
    color: gold;
}

/* hover card */
.card:hover .description {
    bottom: 0;
}

.card:hover .layover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);

}

