* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.color {
    color: rgb(218, 211, 211);
    font-weight: 700;
}

ul {
    list-style: none;
}

/* header */
header {
    flex-shrink: 0;
    background-color: rgb(32, 30, 30);
}
header h2 {
    color: rgb(187, 12, 12);
    text-transform: uppercase;
    font-size: 30px;
    margin-right: 10px;
}
header h2,
header .container_search{
    flex-grow: 0;
    flex-shrink: 0;
}
header .white_space {
    flex-grow: 1;
}
/* navbar */
/* navbar list */
header .navbar {
    align-items: center;
    overflow: hidden;
    color: white;
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: 80px;
    position: relative;
}

.navbar ul li {
    display: inline-block;
    font-size: 15px;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar ul li:hover,
aside ul li:hover {
    background-color: rgb(68, 64, 64);
}
/* navbar search */
.navbar i:hover {
    cursor: pointer;
}
/* navbar search input */
header .container_search {
    position: absolute;
    right: -250px;
    transition: all 1s;
}

header .container_search.appear {
    right: 0px;
}

header .container_search .box {
    position: relative;
    display: inline-block;
}

.container_search input {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    outline: none;
    padding: 3px 3px 3px 25px;
}

.container_search .fa-search {
    position: absolute;
    left: 5px;
    top: 3px;
    color: rgb(255, 255, 255);
}

.container_search select {
    background-color: transparent;
    color: white;
    outline: none;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid white;
}
/* aside */
aside {
    width: calc(100% / 5);
    flex-shrink: 0;
    margin-right: 5px;
    color: white;
}

aside .content {
    padding: 10px;
    background-color: black;
    border-radius: 4px;

}

aside ul {
    padding: 3px;
    border: 1px solid white;
    border-radius: 4px;
}

aside ul li {
    padding: 3px;
    border-radius: 4px;
    margin: 2px 0;
    cursor: pointer;
}

.dropdown {
    margin: 1px 0;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown .dropdown_button {
    padding: 5px 3px;
}

.dropdown i {
    margin-left: 5px;
}

/* main */
main {
    flex-grow: 1;
    color: white;
    background-color: rgb(68, 64, 64);
    display: flex;
    padding: 5px;
    position: relative;
    justify-content: space-evenly;
}

main .container {
    overflow: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    /* padding: 5px; */
    /* max-width: 1200px; */
    /* margin: auto; */
    display: flex;
    /* justify-content: center; */
    height: 100%;
    /* position: relative; */
}

/* card */
main .card {
    width: calc(100% / 4);
    height: 420px;
    /* margin: 5px; */
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.card img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
}
/* no img */
.card .not_img {
    width: 100%;
    height: 100%;
    background-color: rgb(27, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .not_img div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .not_img div .first_letter {
    font-size: 35px;
    font-weight: 600;
}

/* card description */
.description {
    position: absolute;
    bottom: -450px;
    padding: 5px;
    height: 100%;
    width: 100%;
    transition: bottom .5s;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.description > *{
    margin-bottom: 10px;
    flex-shrink: 0;
}

.description .overview {
    /* max-height: 260px; */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    flex-grow: 1;
}

.description .fa-star {
    margin-right: 5px;
}

.fa-star.color_yellow{
    color: gold;
}

/* hover card */
.card:hover .description {
    bottom: 0;
}

.card:hover .layover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);
}